html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;
  font-family: 'Source Sans Pro', sans-serif;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-teal-600 opacity-75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

.bg-gradient-app {
  background-image: linear-gradient(135deg, #FDEB71 10%, #F8D800 100%);
} 


.card-glow {
  @apply relative;
}

.card-glow:before,
.card-glow:after {
  @apply rounded-lg transform-gpu;
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  position: absolute;
  left: -2px;
  top: -2px;
  z-index: -1;
  background-image: linear-gradient(145deg, #14DC7E, #F8100F, #F8100F);
  background-size: 400%;
  animation: move 3s infinite ease-in-out;
}

.card-glow:before {
  @apply filter blur transition-all duration-500 ease-in-out;
}

.card-glow:hover::before {
  @apply filter blur-xl;
}

.label {
  @apply block mb-2 text-white;
}

.input {
  @apply w-full px-3 py-2 placeholder-dark-300 text-black border border-secondary-300 rounded-md focus:outline-none focus:ring focus:ring-secondary-500 focus:border-primary;
}
